* {
    box-sizing: border-box;
}

header {
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}

header>h1 {
    font-size: 50px;
    font-family: "Anta", sans-serif;
    letter-spacing: 1px;
}

/* CALCULADORA EM SI */

main {
    background-color: white;
    width: 60%;
    border-radius: 20px;
}

main button.modo-btn {
    background-color: white;
    /* background-color: #E2DED3; */
    text-decoration: none;
    border-radius: 10px;
    border: #E2DED3 3px solid;
    border-color: #E2DED3;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 350ms ease-in-out;
}

button.modo-btn:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #E2DED3;
    z-index: -1;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
}

button.modo-btn:hover:after {
    width: 110%;
}

.modo-btn.clicked:after {
    width: 110%;
}

div.product-grid {
    font-family: "Anta";
    font-size: 20px;
}

main #inputs {
    margin-top: 10px;
    width: 55px;
    height: 30px;
}

/* ESTILO E ANIMAÇÃO BOTÃO CALCULAR */

button.calc {
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 40px;
    border: 3px solid #E2DED3;
    color: black;
    font-size: 20px;
    font-family: "Anta";
    position: relative;
    background: transparent;
    transition: all .35s;
    overflow: hidden;
    margin: 20px 10px;
}

button.calc:before,
button.calc:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #E2DED3;
    z-index: 0;
    transition: all .35s;
}

button.calc:before {
    opacity: .5;
}

button.calc:after {
    transition-delay: .3s;
}

button.calc:hover {
    color: rgb(49, 49, 49);
}

button.calc:hover:before,
button.calc:hover:after {
    top: 0;
}

button.calc span {
    position: relative;
    z-index: 1;
    transition: opacity .35s;
}

button.calc:hover span {
    opacity: 1;
}